body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #F4ECF7;
    padding: 0;
    margin: 0;
}


.caja {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.logo {
    width: 60px;
    margin: 20px;
    padding: 0;
}

nav {
    right: 0;
}

.carrito {
    width: 20px;
    float: right;
    margin-right: 5px;
    position: relative;
}

ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    float: left;
    display: inline;
    margin-top: 30px;

}


nav a {
    text-transform: uppercase;
    color: black;
    padding: 0 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover {


    text-decoration: underline
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    float: left;

    width: 100%;
    margin-top: 0px;
}

.imagen {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid hsl(184, 81%, 22%);

}

.marca {
    text-align: center;
    font-size: 2em;
    margin: 0 0 0;
    clear: left;
}

.titulo-principal {
    text-align: center;
    margin: 0 0 0 0;
    clear: left;


}

.mision {
    text-align: center;
    margin-top: 50px;

}